
|/* Återställer standardmarginaler/padding och använder border-box för att inkludera padding i elementets storlek */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif
}

/* Ställer in bakgrundsfärg, textfärg och textstil för hela sidan */
body {
  background: #264653;
  color: #f5f5dc;
  font-size: 30px;
  text-align: left;
  line-height: 1.2em;
}

/* Tar bort understrykning på länkar och ändrar färg */
a {
  color: #f5f5dc;
  text-decoration: none;
}

/* Stilar för en knapp-liknande div, men "not-allowed" cursor gör att den ser inaktiv ut */
.button {
  font-size: 20px;
  padding: 10px;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px;
  background-color: #E9C46A;
  color: white;
  cursor: pointer;
  margin-bottom: 1rem;

}

/* Nästan osynlig text, spegelvänd */
.hidden-text {
  display: block;
  opacity: 1;
  font-size: 35px;
  /* transform: rotate(180deg); */
}

/* En behållare med mittjusterad text och en blå transparent bakgrund */
.container {
  width: 100%;
  margin: auto;
  border: 1px solid #E9C46A;
  background-color: #F4A261;
  text-align: center;
}

/* Artikel med prickad orange linje och en radial gradient som bakgrund */
.article {
  border-bottom: 1px solid orange;
  margin-bottom: 5px;
  padding-bottom: 5px;
  background: #E76F51;
  height: auto;
}

/* Rubrik med stor text och mörkröd färg, justerad till höger */
.headline {
  font-size: 3rem;
  font-weight: lighter;
  color: #ffffff;
  text-align: center;
  margin: 50px;
  padding: 20px;
}

/* Navigeringsmeny med mörk bakgrund och jämnt fördelade element */
.navigation {
  background-color: #2A9D8F;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  font-size: 40px;
  font-weight: bold;
}

/* Navigeringslänkar */
.navigation .nav-item a {
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
}

/* Bakgrundsfärg vid hover på navigationslänkar */
.navigation .nav-item:hover a {
  background-color: #acacac40;
}

/* Bilderna placeras i en rad, centrerar dem horisontellt och vertikalt och lägger till ett mellanrum mellan bilderna */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Definierar storleken på bilderna och gör att de täcker det angivna utrymmet utan att bli förvrängda  */
.image-container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/* Input-fält i en container med kolumnlayout och flytande positionering */
.input-container {
  margin-top: 0.2rem;
  display: flex;
  flex-direction: row-reverse;
  float: right;
}

/* Inputfält med röd text och svart ram */
.input-container input {
  font-size: 1.2rem;
  padding: 20px;
  height: 1rem;
}

/* Knapp med rosa kant, mörkröd bakgrund och roterad */
.input-container button {
  cursor: pointer;
}

/* Sektion med centrerad layout */
.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Text med en hover-effekt som drastiskt krymper storleken */
.btext {
  font-size: 18px;
  padding: 10px 15px;
  margin-top: 10px;
  font-weight: bold;
  transition: transform 0.5s ease-in-out, font-size 0.5s ease-in-out,
    padding 0.5s ease-in-out;
}

/* På hover minskas texten kraftigt, nästan osynlig */
.btext:hover {
  transform: scale(0.1);
  font-size: 1px;
  padding: 1px;
}

.animations {
  padding: 1rem;
  height: 220px;
}