
|/* Återställer standardmarginaler/padding och använder border-box för att inkludera padding i elementets storlek */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif
}

/* Ställer in bakgrundsfärg, textfärg och textstil för hela sidan */
body {
  background: #ebf3f8;
  font-size: 30px;
  text-align: left;
  line-height: 1.2em;
  margin: 0;
}

/* Tar bort understrykning på länkar och ändrar färg */
a {
  color: #000;
  text-decoration: none;
}

/* Stilar för en knapp-liknande div, men "not-allowed" cursor gör att den ser inaktiv ut */
.button {
  font-size: 20px;
  text-transform: uppercase;
  display: inline-block;
  background-color: #E9C46A;
  color: #000;
  cursor: pointer;
  margin-bottom: 1rem;
  margin:auto;
  padding: 0.6rem;
  border-radius: 5px;
  width: 8rem;
}

.hidden-text-container {
  margin-top: 0.2rem;
  display: flex;
  flex-direction: column;
  float: left;
}

/* Nästan osynlig text, spegelvänd */
.hidden-text {
  padding-top: 10px;
  margin-left: 10px;
  display: block;
  opacity: 1;
  font-size: 35px;
  /* transform: rotate(180deg); */
}

.hearder-block {
  background-color: #3ca7d12f;
  height: 20rem;
}

/* En behållare med mittjusterad text och en blå transparent bakgrund */
.container {
  width: 100%;
  margin: auto;
  background-color: #E9C46A;
}

/* Artikel med prickad orange linje och en radial gradient som bakgrund */
.article {
  height: auto;
}

/* Rubrik med stor text och mörkröd färg, justerad till höger */
.headline {
  font-size: 3rem;
  text-align: center;
  margin: 50px;
}

h1 {
  padding-left: 2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
  text-align: center;
}

/* Navigeringsmeny med mörk bakgrund och jämnt fördelade element */
.navigation {
  display: flex;
  justify-content: space-between;
  font-size: 40px;
  font-weight: bold;
  align-items: center;
}

div {
  text-align: center;
  font-style: italic;
  padding: 0.5rem;
}

/* Navigeringslänkar */
.navigation .nav-item a {
  color: #000;
  padding: 10px;
  text-decoration: none;
}

.navigation .nav-item.active a {
  background-color: #3ca7d12f;
  border-radius: 1rem;
  font-weight: bold;
  pointer-events: none;
}

/* Bakgrundsfärg vid hover på navigationslänkar */
.navigation .nav-item:hover a {
  background-color: #3ca7d12f;
}

/* Bilderna placeras i en rad, centrerar dem horisontellt och vertikalt och lägger till ett mellanrum mellan bilderna */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Definierar storleken på bilderna och gör att de täcker det angivna utrymmet utan att bli förvrängda  */
.image-container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/* Input-fält i en container med kolumnlayout och flytande positionering */
.input-container {
  margin-top: 0.2rem;
  display: flex;
  flex-direction: row;
  float: right;
}

/* Inputfält med röd text och svart ram */
.input-container input {
  font-size: 1.2rem;
  padding: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* Knapp med rosa kant, mörkröd bakgrund och roterad */
.input-container button {
  cursor: pointer;
  background-color: #E9C46A;
  width: 4rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.animations {
  padding: 1rem;
  height: 220px;
}

.search-icon {
  background-image: url('images/search.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 85%;
  margin-right: 0.5rem;
}

.article {
  margin-top: 8rem;
}

.footer-block {
  border-top: 3px solid #000;
}